In [6]:
import streamlit as st
import pandas as pd
import urllib
import json
from helppers import *

2025-03-05 17:43:03.036 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [7]:
station_url = 'https://tor.publicbikesystem.net/ube/gbfs/v1/en/station_status.json'  
latlon_url = "https://tor.publicbikesystem.net/ube/gbfs/v1/en/station_information"

In [17]:
df1 = query_station_status(station_url)

2025-03-05 18:49:06.652 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-05 18:49:06.662 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-05 18:49:06.668 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-05 18:49:06.712 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-05 18:49:06.717 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [45]:
df2 = get_station_latlon(latlon_url)

In [46]:
join_latlon(df1, df2)

,station_id,num_bikes_available,num_bikes_available_types,num_bikes_disabled,num_docks_available,num_docks_disabled,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,mechanical,ebike,lat,lon
0,7000,9,"{'mechanical': 9, 'ebike': 0}",0,36,2,2025-03-05 12:09:11,False,IN_SERVICE,1,1,1,None,9,0,43.639832,-79.395954
1,7001,7,"{'mechanical': 7, 'ebike': 0}",0,16,0,2025-03-05 12:10:46,True,IN_SERVICE,1,1,1,None,7,0,43.664964,-79.383550
2,7002,2,"{'mechanical': 2, 'ebike': 0}",0,14,1,2025-03-05 12:09:01,False,IN_SERVICE,1,1,1,None,2,0,43.667131,-79.399555
3,7003,0,"{'mechanical': 0, 'ebike': 0}",0,14,1,2025-03-05 12:08:17,False,IN_SERVICE,1,1,1,None,0,0,43.667018,-79.402796
4,7005,17,"{'mechanical': 17, 'ebike': 0}",0,5,0,2025-03-05 12:10:14,False,IN_SERVICE,1,1,1,None,17,0,43.648001,-79.383177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,8016,13,"{'mechanical': 13, 'ebike': 0}",1,8,0,2025-03-05 12:11:03,False,IN_SERVICE,1,1,1,None,13,0,43.642499,-79.372858
864,8017,2,"{'mechanical': 2, 'ebike': 0}",0,13,0,2025-03-05 12:10:14,False,IN_SERVICE,1,1,1,None,2,0,43.725345,-79.297687
865,8018,2,"{'mechanical': 2, 'ebike': 0}",0,13,0,2025-03-05 12:10:38,False,IN_SERVICE,1,1,1,None,2,0,43.658977,-79.347153
866,8019,0,"{'mechanical': 0, 'ebike': 0}",0,15,0,2025-03-05 12:10:45,False,IN_SERVICE,1,1,1,None,0,0,43.680567,-79.390830
867,8020,8,"{'mechanical': 8, 'ebike': 0}",0,0,1,2025-03-05 12:08:18,False,IN_SERVICE,1,1,1,None,8,0,43.646568,-79.407687